<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About CatDog Breed Classifier</title>
    <link rel="icon" href="static/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="container">
        <h2>About CatDog Breed Classifier</h2>
        <p>
            Author: Chris Wang<br>
            Contact: s22019.wang@stu.scie.com.cn
        </p>
        <p>
            CatDog Breed Classifier is an advanced web-based image recognition project using PyTorch for model training,
            ONNX Runtime for inference, and Flask
            for user-friendly cat and dog classification, presenting results in Top 5.
        </p>
        <ol class="important-notice">
            <h3>Important Notice: </h3>
            <p>
                - Animal images should be clear and easily recognizable.<br>
                - Percentages after species do not represent real probabilities.<br>
                - Animal images should be clear and easily recognizable.<br>
                - The datasets of model for identifying whether it's a cat or dog does not include other animal
                species.Some animals with similar appearances to cats or dogs may be misclassified.<br>
                - The model only includes common species of dogs and cats.<br>
            </p>
        </ol>
        <p></p>

        <div class="disclaimer">
            <h3>Disclaimer:</h3>
            <p>
                - Uploaded image files are automatically deleted after classification.<br>
                - This project was created as a demonstration of web-based image classification using deep learning
                models. <br>
                - The project is intended for learning purposes and can serve as a starting point for building more
                complex image classification web applications. <br>
                - This website is for reference purposes only. <br>
            </p>
        </div>
        <a href="/" class="button">Back to Main Page</a>
    </div>
</body>

</html>