<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About CatDog Breed Classifier</title>
    <link rel="icon" href="static/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/style.css">
    <style>
        .disclaimer {
            margin-top: 20px;
            background-color: #f9f9f9;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>About CatDog Breed Classifier</h2>
        <p>
            Author: Chris Wang<br>
            Shenzhen College of International Education<br>
            Contact: s22019.wang@stu.scie.com.cn
        </p>
        <p>
            CatDog Breed Classifier is a simple web application that uses deep learning
            to classify images of cats and dogs. To use this application, follow these steps:
        </p>
        <ol>
            <li>Select a local image file.</li>
            <li>Click the "Upload and classify" button to classify the selected image.</li>
            <li>The classification result will be displayed on the screen.</li>
            <li>You can click the "Clear" button to reset the page to its initial state.</li>
        </ol>
        <p></p>
        <div class="disclaimer">
            <h3>Disclaimer:</h3>
            <p>
                - Animal images should be clear and easily recognizable.<br>
                - Uploaded image files are automatically deleted after classification.<br>
                - Percentages after species do not represent real probabilities.<br>
                - The datasets of model for identifying whether it's a cat or dog does not include other animal species.
                Some animals with similar appearances to cats or dogs may be misclassified.<br>
                - The model only includes common species of dogs and cats.
            </p>
        </div>
        <a href="/" class="button">Back to Main Page</a>
    </div>
</body>

</html>