<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="static/logo.ico" type="image/x-icon">
  <link rel="stylesheet" href="/static/style.css">
  <title>CatDog Breed Classifier</title>
</head>

<body>
  <div class="container">
    <h1>CatDog Breed Classifier</h1>
    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="file" accept=".jpg, .jpeg, .png, .bmp" required>
      <button class="upload-button" type="submit">Upload and Classify</button>
    </form>
    <div class="footer">
      Made by: Chirs
      <a href="/about" class="button">About</a>
    </div>
  </div>
</body>

</html>